{% extends "base.html" %}
{% block content %}
<div class="row">

	<div class='col-8' style='padding:30px'>
<h3>{{ post.title }}</h3>
<p>{{ post.description }}</p>

<div class="row">
	<div class='col-5'>
		{% if request.user.is_authenticated %}
			{% if response.liked == True %}
				<button style="color:blue" class='btn btn-link' id='like_text'>Liked</button>
				<button type="button"  class="btn btn-danger" id='dislike_button'  onclick="dislike({{ post.id}})">DisLike</button>

				<button type="button"  class="btn btn-success" id='like_button' style='display:none' onclick="like({{ post.id}})">Like</button>
				<button style="color:red;display:none" id='dislike_text'  class='btn btn-link' >DisLiked</button>

			{% elif response.disliked == True %}

			  <button type="button" name="button" class="btn btn-success" id='like_button'  onclick="like({{ post.id}})">Like</button>
				<button style="color:red" id='dislike_text' class='btn btn-link' >DisLiked</button>

				<button  id='like_text' style='display:none' class='btn btn-link'>Liked</button>
				<button type="button" name="button" class="btn btn-danger" id='dislike_button' style='display:none' onclick="dislike({{ post.id}})">DisLike</button>
			{% else %}
				<button type="button" name="button" class="btn btn-success" id='like_button'  onclick="like({{ post.id}})">Like</button>
				<button type="button" name="button" class="btn btn-danger" id='dislike_button'  onclick="dislike({{ post.id}})">DisLike</button>

				<button style="color:red;display:none" id='dislike_text' class='btn btn-link'  >DisLiked</button>
				<button  id='like_text' style='display:none' class='btn btn-link'>Liked</button>

			{% endif %}
		{% endif %}
	</div>
</div>

<hr>
{% if comments|length > 0%}
	<h4>Comments</h4>
	{% for comment in comments %}
	<p>{{ comment.description }}</p>
	<p class="text-right">comment by: {{ comment.user }}</p>
	<hr>
	{% endfor %}
{% endif %}


	{% if request.user.is_authenticated %}
		<form action="{% url 'comments:create' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" name="post_id" value="{{ post.id }}">
			<div class="form-group">
				<textarea name="comment" rows="8" style="width:100%" placeholder="Comments ..." required></textarea>
			</div>

			<input type="submit" value="Add Comment" class="btn btn-secondary btn-block">
		</form>
	{% endif %}
</div>

	<div class="col-4">
		<button type="button" name="button" class="btn btn-info" onclick='show_liked()'>Liked By</button>
		<button type="button" name="button" class="btn btn-warning" onclick='show_disliked()'>Disliked By</button>
		<hr>
		<p id="likes_text">Showing Results For Liked By</p>
		<div id='liked_by' >
			{% for l in liked_by %}
			<p>{{ l.username }}</p>
			{% endfor %}
		</div>

		<div id='disliked_by' style="display:none">
			{% for l in disliked_by %}
			<p>{{ l.username }}</p>
			{% endfor %}
		</div>
	</div>
</div>

<script type="text/javascript">
 function show_liked(){
	 $("#likes_text").text('Showing Results For Liked By')
	 $("#liked_by").show()
	 $("#disliked_by").hide()
 }

 function show_disliked(){
	 $("#likes_text").text('Showing Results For DisLiked By')
	 $("#liked_by").hide()
	 $("#disliked_by").show()
 }


	function like(id) {
		data = {id: id}
		headers= { "X-CSRFToken": '{{csrf_token}}' }
		$.ajax({

		    url : '{% url "posts:like" %}',
		    type : 'post',
		    data : data,
				headers: headers,
		    success : function(data) {
		        $("#like_text").show()
						$("#like_button").hide()
						$("#dislike_text").hide()
						$("#dislike_button").show()

		    },
		    error : function(request,error)
		    {

		    }
   });

	}


	function dislike(id) {
		data = {id: id}
		headers= { "X-CSRFToken": '{{csrf_token}}' }
		$.ajax({

				url : '{% url "posts:dislike" %}',
				type : 'post',
				data : data,
				headers: headers,
				success : function(data) {
					$("#like_text").hide()
					$("#like_button").show()
					$("#dislike_text").show()
					$("#dislike_button").hide()
				},
				error : function(request,error)
				{
						alert("Request: "+JSON.stringify(request));
				}
	 });

	}

</script>


{% endblock %}
